.parent {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
}

.container h2 {
    margin-top: 60px;
}

button, .return {
    height: 35px;
    width: 100px;
    border-radius: 5px;
    margin-top: 10px;
    background-color: dodgerblue;
    color: white;
    align-self: center;
}

.return {
    background-color: red;
    margin-bottom: 50px;
    margin-top: 5px;
}

.return a {
    text-decoration: none;
    color: white;
}

.tags {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.tags input {
    height: auto;
    width: auto;
}

.tags span {
    padding: 2px;
    background-color: dodgerblue;
    color: white;
    height: 25px;
    border-radius: 10px;
    margin-right: 5px;
}

.tag-display {
    display: flex;
    width: 100%;
}
