{% extends 'base.html' %}
{% block head %}
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }} ">
<link rel="stylesheet" href="{{ url_for('static', filename='css/userlist.css') }}">
<title>Blogly</title>
{% endblock %}
{% block content %}
<div class="container">
    <div class="users">
        <h2>Our Users</h2>
        <ul>
            {% if users %}
            {% for user in users %}
            <li><a href="/users/{{user[1]}}">{{user[0]}}</a></li>
            {% endfor %}
            {% endif %}
        </ul>
        <a href="/users/new">Add a User</a>
    </div>
</div>
{% endblock %}