{% extends 'base.html' %}
{% block head %}
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }} ">
<link rel="stylesheet" href="{{ url_for('static', filename='css/userdisplay.css') }}">
<title>Blogly</title>
{% endblock %}
{% block content %}
<div class="container">
    <div class="user-profile">
        <div class="picture">
            <img src="{{user.image_url}}" alt="{{user.first_name}}'s photo">
        </div>
        <div class="info">
            <p>First Name: {{user.first_name}}</p>
            <p>Last Name: {{user.last_name}}</p>
            <h2>POSTS</h2>
            {% if posts %}
            <ul class="post-list">
            {% for post in posts %}
                <li><a class="post-link"  href="/posts/{{post.id}}">{{post.title}}</a></li>
            {% endfor %}
            </ul>
            {% endif %}
            <button class="btn-add"><a href="/users/{{user.id}}/posts/new">Add Post</a></button>
        </div>
    </div>
</div>
<div class="buttons">
    <button class="btn-edit"><a href="/users/{{user.id}}/edit">Edit Profile</a></button>
    <button class="btn-delete"><a href="/users/{{user.id}}/delete">Delete Profile</a></button>
</div>
{% endblock %}